.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-header {
  height: 100px;
  background-color: #b9314f;
  color: #fff;
}

.main-header > * {
  height: 100%;
  display: flex;
  align-items: center;
}

.form {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  gap: 1rem;
}

.form__control button,
.form__control input {
  background-color: #b9314f;
  color: #fff;
  padding: 5px 15px;
}

.form__control input,
.form__control button {
  width: 100%;
}
